*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:Arial, sans-serif;
    line-height: 1,6;
    color: #333;
    background: grey;
}
.menu {
    position: relative;
    display: inline-block;
  }

  
  .menu-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  
  .menu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

 
  .menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .menu:hover .menu-content {
    display: block;
  }

  .menu-content a:hover {
    background-color: #f1f1f1;
  }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar .logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
.nav-links a:hover{
    color: #ffd700;
}
.burger{
    display: none;
    flex-direction: column;
    gap:0.3rem;
    cursor: pointer;
}
.burger span{ 
    width:25px;
    height: 5px;
    background: white;
}
header{
color: white;
position: relative;
top: 120px;
left: 550px; 
}
.cuadro {
    max-width: 800px;
    margin: 3em auto;
    padding: 2em;
    background-color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.cuadro h1 {
    color: #707B7C;
    font-size: 2em;
    margin-bottom: 1em;
}

.cuadro img {
    width: 100%;
    max-height: auto;
    object-fit: cover;
    border-radius:30px;
}
 footer{
  padding: 1.5rem;
  background: #000;
  color: white;
  text-align: center;
  font-size: 1rem;  
}